<a href="https://colab.research.google.com/github/Aksuya/InteligenciaArtificial/blob/main/Lunes10Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!Python --version

In [ ]:
myNumber =3
myNumberDecimal =3.6
state = True

In [ ]:
print(f'valor entero: {myNumber}')
print(f'valor decimal: {myNumberDecimal}')
print(f'valor booleano: {state}')

valor entero: 3
valor decimal: 3.6
valor booleano: True

In [ ]:
aux1 = 10
aux2 = 2
print("La suma de las variables es:", aux1+aux2)

La suma de las variables es: 12

In [ ]:
tmp = aux1**aux2
print("Resultado de la potencia es: ", tmp)

Resultado de la potencia es:  100

In [ ]:
var1 = 'Hola!'
var2 = ' Oliver'
print(var1+var2)

Hola! Oliver

In [ ]:
print(3*var1)

Hola!Hola!Hola!

In [ ]:
num1 = 10
num2 = 10.5

In [ ]:
print('El tipo de numero es: ',type(num1))
print('El tipo de numero es: ',type(num2))

El tipo de numero es:  <class 'int'>
El tipo de numero es:  <class 'float'>

25 de junio 2024

In [ ]:
# tmp = list()
# tmp.append(2)
# print(tmp)
# tmp.append('oliver')
# print(tmp)
# tmp.append(5)
# print(tmp)
# tmp.append('alexander')
# print(tmp)
# print(tmp[3])
# aux= tmp[3]
# print(aux.upper())

# tmp1= 'hello'
# print(tmp1.capitalize())


# aux1=[1,2,3,4,5,6,7,8,9,10]
# print(aux1)

# aux1[4]=10
# print(aux1)


# print(aux1[-1])
# print(aux1[3:7])
# print(aux1[0:5])
# print(aux1[:5])


# aux2=list()
# for i in range(100):
#   aux2.append(i)
# print(aux2[:20])



# aux3=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==0:
#     aux3.append(aux2[indx])

# print(aux3)


# aux3=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==1:
#     aux3.append(aux2[indx])

# print(aux3)


# aux3=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==0:
#     aux3.append(aux2[indx]**2)

# print(aux3)


animal=['gato', 'perro', 'mono', 'raton']
for animal in animal:
  print(animal)


tmp3 = [i**2 for i in range(10)]
print(tmp3)

tmp3 = [i**2 for i in range(10) if i%2==0]
print(tmp3)

gato
perro
mono
raton
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

Diccionario

In [ ]:
myDictionay={'gato': 'bonito', 'perro': 'grande'}
print(myDictionay['gato'])

myDictionay1={'leon': 'fuerte', 'agila': 'pequeña'}
print(myDictionay1['leon'])

myDictionay.update(myDictionay1)
print(myDictionay)

for key, value in myDictionay.items():
  print(f'key: {key} value: {value}')


myList=[1,2,3,4,5,6]
myDictAux1 = {x:x**2 for x in myList}
print(myDictAux1)

bonito
fuerte
{'gato': 'bonito', 'perro': 'grande', 'leon': 'fuerte', 'agila': 'pequeña'}
key: gato value: bonito
key: perro value: grande
key: leon value: fuerte
key: agila value: pequeña
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Palabras Claves funciones

In [ ]:
def operacion(var1, var2, operador):
    if operador == 'suma':
        resultado = var1 + var2
    elif operador == 'resta':
        resultado = var1 - var2

    return resultado

num1 = 3
num2 = 6
cadena = 'resta'

resultado = operacion(num1, num2, cadena)

print(f"El resultado de la {cadena} es: {resultado}")



def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var1-var2
  return tmp

num1 =4
num2 = 6
control = False
print(suma(num1, num2, control))


listNumeros = [-1, +1, 0]
def numero_positivo_negativo(num):
    if num > 0:
        print(f"El número {num} es positivo.")
    elif num < 0:
        print(f"El número {num} es negativo.")
    else:
        print("El número es cero.")


print(numero_positivo_negativo(listNumeros[2]))

El resultado de la resta es: -3
-2
El número es cero.
None

SET AS A CONTAINER

In [9]:
var1 =set()
var1.add(3)
print(var1)
var1.add('Oliver')
var1.add(True)
var1.add('Hola')
print(var1)
var1.remove('Hola')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'Hola', 'Oliver'}
{True, 3, 'Oliver'}
3
True
True
3
Oliver

In [18]:
#JUPLES

var2 = tuple()

# Crear una nueva tupla con elementos adicionales
var2 = var2 + ('como', 1, True)
print(var2)
print(type(var2))

var2_lista = list(var2)
var2_lista.remove('como')
print(var2_lista)
print(type(var2_lista))



#aux[2]=300
#var=tuple(aux)
#print(var)
#print(type(var))

('como', 1, True)
<class 'tuple'>
[1, True]
<class 'list'>

In [24]:
#HOY TO DEFINE CLASS
class saludo(object):
  def __init__(self, name):
    print("El objeto a sido creado")
    self.name=name

  def saludoPersonal(self):
    return f"Hola, {self.name}"


name1= saludo('Alexander')
name2= saludo('Aksuya')
name3= saludo('1234')

print(name1.saludoPersonal())

El objeto a sido creado
El objeto a sido creado
El objeto a sido creado
Hola, Alexander

In [30]:
#ESTA CLASE TIENE QUE ACEPTAR TRES PARAMETROS: RADIO, BASE Y LA ALTURA. UNA FUNCION PARA CALCULAR EL AREA DE UN CIRCULO, Y UN TRIANGULO.

import math

class FigurasGeometricas:
    def __init__(self, radio, base, altura):
        self.radio = radio
        self.base = base
        self.altura = altura

    def calcular_area_circulo(self):
        area_circulo = math.pi * self.radio ** 2
        return area_circulo

    def calcular_area_triangulo(self):
        area_triangulo = (self.base * self.altura) / 2
        return area_triangulo

    def calcular_area_cuadrado(self):
        area_cuadrado = (self.altura * self.altura)
        return area_cuadrado


figura = FigurasGeometricas(radio=5, base=6, altura=4)

area_circulo = figura.calcular_area_circulo()
print(f"El área del círculo es: {area_circulo:.2f}")

area_triangulo = figura.calcular_area_triangulo()
print(f"El área del triángulo es: {area_triangulo:.2f}")

area_cuadrado = figura.calcular_area_cuadrado()
print(f"El área del cuadrado es: {area_cuadrado:.2f}")

El área del círculo es: 78.54
El área del triángulo es: 12.00
El área del cuadrado es: 16.00

In [42]:
# clase que permita dos valores, nombre y edad. Dentro de esa clase debe tener una funcion que imprima todo en mayuscula y otra funcion que sea todo en minusculas.

class printingNameAge(object):
  def __init__(self, name, age):
     self.name = name
     self.age = age
     print(f"El objeto a sido creado")

  def uppercase(self):
    return f"Nombre: {self.name.upper()} y el año: {self.age}"

student1 = printingNameAge('Oliver', 30)

print(student1.uppercase())

El objeto a sido creado
Nombre: OLIVER y el año: 30

In [53]:
#Crear una clase para sumar, restar, multiplicar y dividir.

class Calculadora:
    def sumar(self, a, b):
        return a + b

    def restar(self, a, b):
        return a - b

    def multiplicar(self, a, b):
        return a * b

    def dividir(self, a, b):
        if b == 0:
            raise ValueError("Error: No se puede dividir por cero.")
        return a / b

    def es_par(self, numero):
        if numero % 2 == 0:
            return "Par"
        else:
            return "Impar"


calculadora = Calculadora()

resultado_suma = calculadora.sumar(2, 2)
resultado_resta = calculadora.restar(6, 7)

print(f"La suma es: {resultado_suma} El Resultado es: {calculadora.es_par(resultado_suma)}")
print(f"La resta es: {resultado_resta} El Resultado es: {calculadora.es_par(resultado_resta)}")

La suma es: 4 El Resultado es: Par
La resta es: -1 El Resultado es: Impar