<a href="https://colab.research.google.com/github/Aksuya/InteligenciaArtificial/blob/main/Lunes10Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!Python --version

In [1]:
myNumber =3
myNumberDecimal =3.6
state = True

In [3]:
print(f'valor entero: {myNumber}')
print(f'valor decimal: {myNumberDecimal}')
print(f'valor booleano: {state}')

valor entero: 3
valor decimal: 3.6
valor booleano: True

In [4]:
aux1 = 10
aux2 = 2
print("La suma de las variables es:", aux1+aux2)

La suma de las variables es: 12

In [5]:
tmp = aux1**aux2
print("Resultado de la potencia es: ", tmp)

Resultado de la potencia es:  100

In [6]:
var1 = 'Hola!'
var2 = ' Oliver'
print(var1+var2)

Hola! Oliver

In [7]:
print(3*var1)

Hola!Hola!Hola!

In [8]:
num1 = 10
num2 = 10.5

In [9]:
print('El tipo de numero es: ',type(num1))
print('El tipo de numero es: ',type(num2))

El tipo de numero es:  <class 'int'>
El tipo de numero es:  <class 'float'>